################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FBNQ/FileContentIndex/0a170b4b-5f19-4bda-bf3a-07e8e6fc75d1.vsidx
